/***********************TAG SELECTORS***********************/

body {
  font-family: "Merriweather", serif;
  margin: 0;
  text-align: center;
}

h1 {
  color: #66bfbf;
  font-family: "Lobster", cursive;
  font-size: 2.8125rem;
  font-weight: 900;
  margin-bottom: 2rem;
}

h2 {
  font-size: 2rem;
}

h2,
h3 {
  color: #66bfbf;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  padding-bottom: 5px;
  margin-top: 1.5rem;
}

hr {
  border: dotted #54545475 0.4rem;
  border-bottom: none;
  margin: 6rem auto;
  width: 10%;
}

a {
  -webkit-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
  text-decoration: none;
}

p {
  color: #545454;
  line-height: 2;
  margin: 0;
  font-weight: bold;
}

ul {
  /* display: inline;
  float: right; */
  color: #545454;
  margin: 0;
}

/***********************CLASS SELECTORS***********************/

/* Images */

.header-icons {
  animation-duration: 5s;
  animation-name: icon-animation;
  opacity: 0.8;
  width: 10%;
}

@keyframes icon-animation {
  0% {
    top: 0;
  }
}

.top-cloud {
  left: 21%;
  position: absolute;
  top: 8%;
  width: 6%;
}

.bottom-cloud {
  top: 50%;
  position: absolute;
  right: 10%;
  width: 6%;
}

.star-egg {
  top: 43%;
  right: 8%;
  position: absolute;
  width: 3.5%;
}

.mountain-img {
  border-radius: 2%;
  width: 35%;
}

.profile-photo {
  width: 40%;
  margin: 4rem 0 0 0;
}

.first-skill-img {
  float: left;
  margin-right: 1.875rem;
  width: 25%;
}

.second-skill-img {
  float: right;
  margin-left: 1.875rem;
  width: 25%;
}

.third-skill-img {
  float: left;
  margin-right: 1.875rem;
  width: 25%;
}

/* *** */

.pro {
  text-decoration: underline;
}

.top-container {
  background-color: #eaf6f6;
  padding-top: 8rem;
  position: relative;
}

.middle-container {
  background-color: #f7fbfc;
  position: relative;
  padding: 1rem 1rem;
}

.bottom-container {
  background-color: #66bfbf;
  padding: 0.7rem 0 0.5rem 0;
  position: relative;
}

.para {
  margin: 1rem auto 0;
}

.profile {
  width: 40%;
  margin: auto;
}

.skill-row {
  line-height: 2;
  margin: 4rem auto 6.25rem auto;
  text-align: left;
  width: 50%;
}

.contact-me {
  margin: auto auto 1.5625rem auto;
  width: 50%;
}

.social-icons {
  height: 2rem;
  margin: auto 1rem auto 1rem;
  transition: all 0.2s ease-in-out;
  width: 2rem;
}

.social-icons:hover {
  opacity: 0.7;
  transform: scale(1.6);
}

.footer-link:hover {
  color: #eaf6f6;
}

.email-img {
  height: 2rem;
  position: relative;
  right: 3%;
  top: 8px;
  width: 2rem;
}

.btn {
  background-color: #11cdd4;
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
  padding: 0 0.5rem 0.75rem 0.5rem;
  margin: 2.5rem auto 1rem auto;
  text-decoration: none;
  display: inline-block;
}

.btn:hover {
  background: #30e3cb;
  text-decoration: none;
}

.flaticon-link {
  text-decoration: none;
  color: #eaf6f6;
}

.flaticon-link:hover {
  color: #54545475;
}

/***********************ID SELECTORS***********************/

#copyrighting {
  color: #eaf6f6;
  font-size: 0.7rem;
  font-weight: 400;
  margin: 0;
  padding: 1rem 0 0;
  text-decoration: none;
}

#flaticon-para {
  color: #eaf6f6;
  font-size: 0.6rem;
  margin: 0 auto;
  padding-top: 0.5rem;
  text-decoration: none;
}

#top-container-h1 {
  font-size: 5rem;
}

#top-container-h2 {
  font-size: 1.5rem;
  margin-bottom: 20px;
}
