/***********************TAG SELECTORS***********************/

body {
  font-family: "Merriweather", serif;
  margin: 0;
  text-align: center;
}

h1 {
  color: #66bfbf;
  font-family: "Lobster", cursive;
  font-size: 2.8125rem;
  font-weight: 900;
  margin-top: 3.125rem;
}

h2 {
  font-size: 2rem;
}

h2,
h3 {
  color: #66bfbf;
  font-family: "Montserrat", sans-serif;
  font-weight: bolder;
  padding-bottom: 1rem;
}

hr {
  border-color: #eaf6f6;
  border-style: dotted none none none;
  border-width: 0.5rem;
  margin: 7.375rem auto 7.375rem auto;
  width: 8%;
}

a {
  -webkit-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
  text-decoration: none;
}

p {
  color: #3a3f44;
  line-height: 2;
  margin: 0;
}

/***********************CLASS SELECTORS***********************/

/* .c-nav {
  display: block;
  margin: 0 auto;
  position: relative;
  width: 100%;
  max-width: 1600px;
}

.s-nav {
  position: fixed;
  width: 100%;
  z-index: 1040;
  background: #fefaf6;
} */

.header-icons {
  animation-duration: 5s;
  animation-name: icon-animation;
  opacity: 0.8;
  width: 10%;
}

@keyframes icon-animation {
  0% {
    top: 0;
  }
}

.top-cloud {
  left: 21%;
  position: absolute;
  top: 8%;
  width: 6%;
}

.bottom-cloud {
  top: 50%;
  position: absolute;
  right: 10%;
  width: 6%;
}

.star-egg {
  top: 43%;
  right: 8%;
  position: absolute;
  width: 3.5%;
}

.pro {
  text-decoration: underline;
}

.mountain-img {
  border-radius: 2%;
  width: 30%;
}

.top-container {
  background-color: #eaf6f6;
  padding-top: 12.5rem;
  position: relative;
}

#top-container-h2 {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.middle-container {
  background-color: #f7fbfc;
  position: relative;
  padding: 1rem 1rem;
}

.bottom-container {
  background-color: #66bfbf;
  padding: 3rem 0 1.5rem 0;
  position: relative;
}

.para {
  margin: 1rem auto 0;
}

.profile {
  width: 50%;
  margin: auto;
}

.profile-photo {
  width: 20%;
  margin: 4rem 0 0 0;
}

.first-skill-img {
  float: left;
  margin-right: 1.875rem;
  width: 25%;
}

.second-skill-img {
  float: right;
  margin-left: 1.875rem;
  width: 25%;
}

.skill-row {
  line-height: 2;
  margin: 6.25rem auto 6.25rem auto;
  text-align: left;
  width: 50%;
}

.contact-me {
  margin: auto auto 1.5625rem auto;
  width: 50%;
}

.social-icons {
  height: 2rem;
  margin: auto 1rem auto 1rem;
  transition: all 0.2s ease-in-out;
  width: 2rem;
}

.social-icons:hover {
  opacity: 0.7;
  transform: scale(1.6);
}

.footer-link:hover {
  color: #eaf6f6;
}

.email-img {
  height: 2rem;
  position: relative;
  right: 3%;
  top: 8px;
  width: 2rem;
}

.btn {
  background-color: #11cdd4;
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
  padding: 0 1rem 0.75rem 1rem;
  margin: 2.5rem auto 1rem auto;
  text-decoration: none;
  display: inline-block;
}

.btn:hover {
  background: #30e3cb;
  text-decoration: none;
}

/***********************ID SELECTORS***********************/

#copyrighting {
  color: #eaf6f6;
  font-size: 0.7rem;
  font-weight: 400;
  margin: 0;
  padding: 2.5rem 0 0;
}

#flaticon-para {
  color: #eaf6f6;
  font-size: 0.6rem;
  margin: 0 auto;
}
